.GridItem {
  @apply flex flex-col items-center justify-center;
  @apply h-40 w-40;
  @apply space-y-3;
  @apply border-white border-opacity-10;
  @apply bg-slate-500 bg-opacity-5 transition-all;
}
.GridItem:hover {
  box-shadow: inset -50px -50px 50px 9px #ffffff0d;
  border-bottom: 1px;
  border-right: 1px;
}

.GridForDesktop {
  @apply mx-6 bg-gradient-to-r from-slate-200 to-slate-300 bg-clip-text text-transparent;
}

.GridDiv {
  @apply grid grid-cols-2 grid-rows-2 gap-4 pt-6 mobile:mt-0;
}
